// /*include reset style*/
@import "nullstyle";

.wrapper {
    position: relative
}

.parallax {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;    

    // .parallax__montain

    &__montain {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    // .parallax__montain1

    &__montain1 {
        background: url(../img/m_1.png) 0 0 / cover no-repeat;
    }

    // .parallax__montain2

    &__montain2 {
        background: url(../img/m_2.png) bottom right / 45% no-repeat;
    }

    // .parallax__montain3

    &__montain3 {
        background: url(../img/m_3.png) bottom left / 100% no-repeat;
    }

    // .parallax__fog

    &__fog {
        background: url(../img/fog_1.png) 50% 50% / 100% no-repeat;
    }
}

.content {
    width: 70%;
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: rgba(245, 222, 179, 0.242);
    margin-top: 100vh;

    // .content__header

    &__header {
        padding: 50px 0;
    }

    // .content__title

    &__title {
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }

    // .content__subtitle

    &__subtitle {
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: 7px;
    }

    // .content__content

    &__content {
        font-size: 22px;
        line-height: 30px;
        p {
            margin-bottom: 30px;
        }
    }

    // .content__txt

    &__txt {
        word-spacing: 5px;
    }
} 